/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/quetzal_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.33% 0.016 252.42);
  --color-base-200: oklch(25.26% 0.014 253.1);
  --color-base-300: oklch(20.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(55% 0.027 264.364);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */

.step-tree .step-tree {
    margin-left: 1em;
}



.step {
    margin-bottom: 2px;
    padding: 0.1em;
}

#plans {
    display: flex;
    flex-direction: row;
}

#plans .plan-list {
    display: grid;
    grid-template-columns: 6em min-content 1fr;
    grid-auto-rows: min-content;
    column-gap: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

#plans #plan-display {
    flex-grow: 4;
}

#plans .plan-list .plan {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-row: span 2;
    padding-left: 1em;
    margin-bottom: 2px;
}

#plans .plan-list .plan.active, #plans #plan-display {
    background-color: darkslategrey;
}

#plans .plan-list .plan .state {
    grid-row: span 2;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#plans .plan-list .plan .timings {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    row-gap: 0.2rem;
}

#plans .plan-list .plan .timings .start {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0.2rem;
}

#plans .plan-list .plan .timings .end {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0.2rem;
}

#plans .plan-list .plan .description {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 0.2rem;
}

#plans .plan-list .plan .info {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0.2rem;
}

#plans .plan-list .running .timings {
    background-color:  steelblue;
}

#plans .plan-list .done .timings {
    background-color:  mediumseagreen;
}

.plan-list .plan .description {
    font-weight: bold;
}

.step-tree li.step {
    display: grid;
    grid-template-columns: 8em 1fr;
    column-gap: 0.5em;
    list-style-type: none;
    list-style-position: inside;
}

.step-tree li.step::before {
    justify-self: end;
    content: "unknown";
}

.step-tree li.new::before {
    content: "new";
}
.step-tree li.ready::before {
    content: "ready";
}
.step-tree li.running::before {
    content: "running";
    color: steelblue;
}
.step-tree li.scheduled::before {
    content: "scheduled";
    color: skyblue;
}
.step-tree li.blocked_by::before {
    content: "blocked";
    color: grey;
}
.step-tree li.awaiting_children::before {
    content: "wait childs";
    color: mediumseagreen;
}
.step-tree li.done::before {
    content: "done";
    color: mediumseagreen;
}
.step-tree li.failed::before {
    content: "failed";
    color: indianred;
}
